.rooms__selection {
  display: inline;
  text-align: center;
}

.rooms__selection-button {
  background-color: rgb(233, 220, 103);
  color: rgb(64, 77, 73);
  width: 250px;
  height: auto;
  margin: 10px;
  padding: 16px 0;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2)
}

.room {
  display: none;
}

.room--visible {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15px;
  column-gap: 15px;
}

.room__header {
  margin: 35px;
  grid-column: span 2;
}
.room__description{
  text-align: justify;
  margin-left: 35px ;
}
.rooms__description {
  grid-column: span 1;
}

.rooms .slideshow {
  justify-self: center;
  max-height: 500px;
}

@media only screen and (max-width: 1000px) {
  .rooms .slideshow {
    width: 300px;
    max-height: 300px;
  }
}

@media only screen and (max-width: 750px) {
  .room {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .room__header {
    grid-column: span 1;
  }
  
  .room__description{
  margin: 35px;
  }

  .rooms .slideshow {
    width: 100%;
  }
}
