* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.navigation-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 10;
  background-color: rgb(64, 77, 73);
  padding: 0 20px;
  margin: 0;
}

.navigation-menu p {
  text-transform: capitalize;
  color: white;
  letter-spacing: 5px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: rgb(233, 220, 103);
  font-weight: 600;
  text-transform: uppercase;
}

.burger {
  display: none;
}

.burger div {
  margin: 5px;
  width: 25px;
  height: 2px;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 1120px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    padding-left: 10px;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: rgb(64, 77, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    z-index: 1;
  }

  .nav-links li {
    opacity: 0;
    position: relative;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px)
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Header */

.header {
  position: relative;
  margin: 0;
  width: 100%;
  height: 70vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

#submit {
  background-color: rgba(233, 220, 103, 0.591);
  color: rgb(64, 77, 73);
  height: auto;
  width: auto;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header button {
  color: rgb(64, 77, 73);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(233, 220, 103, 0.591);
  height: auto;
  width: auto;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header button:hover {
  color: rgb(233, 220, 103);
  background-color: rgba(64, 77, 73, 0.515);
  transition: 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .header {
    background-size: contain;
  }
}

/* O nas */
.about p {
  margin: 35px;
  text-align: justify;
}

h3 {
  text-align: center;
}

.services {
  background-color: rgb(64, 77, 73);
  color: white;
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 0;
  padding: 20px;
  margin-bottom: 20px;
  grid-column: span 2;
  align-self: center;
  justify-self: center;
}

.services p {
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.services i {
  text-align: center;
}

.services__heading {
  grid-column: span 6;
}

@media screen and (max-width: 1250px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }

  .services__heading {
    grid-column: span 3;
  }

  .service__img2,
  .service__img3 {
    display: none;
  }

  .services img {
    grid-column: span 3;
    padding: 0;
  }

  .services i {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .services__heading {
    grid-column: span 2;
  }

  .services p {
    font-size: 12px;
  }

  .service__img2,
  .service__img3 {
    display: none;
  }

  .services img {
    grid-column: span 2;
    margin: 35px 0 35px 0;
    padding: 0;
  }

  .services i {
    display: none;
  }
}

.rooms {
  margin: 35px;
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(4, 1ft);
}

.rooms-header {
  grid-column: span 4;
}

.rooms .property-1,
.rooms .property-2,
.rooms .property-3,
.rooms .property-4 {
  grid-column: span 4;
}

.rooms .rooms-selection {
  background-color: rgb(233, 220, 103);
  color: rgb(64, 77, 73);
  width: 250px;
  height: auto;
  justify-self: center;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media screen and (max-width: 1120px) {
  .rooms .rooms-selection {
    grid-column: span 2;
    justify-self: center;
    margin-top: 20px;
    font-size: 16px;
    width: 250px;
    padding: 10px 20px;
  }

  .rooms .property-1,
  .rooms .property-2,
  .rooms .property-3,
  .rooms .property-4 {
    grid-column: span 4;
  }
}

@media screen and (max-width: 600px) {
  .rooms .rooms-selection {
    grid-column: span 4;
    justify-self: center;
    margin-top: 20px;
    font-size: 14px;
    width: 260px;
    padding: 10px 10px;
  }
}

.property-1,
.property-2,
.property-3,
.property-4 {
  display: none;
}

.property-visible {
  display: block;
}

.room-header {
  margin-top: 45px;
}

/* Clients container */
.client {
  background-color: rgb(64, 77, 73);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1ft);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.client-header {
  grid-column: span 3;
}

.client_picture {
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 15px;
  justify-self: center;
}

.client_opinion {
  text-align: justify;
  margin: 0;
}

.client_picture img {
  grid-column: span;
  vertical-align: middle;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}


@media screen and (max-width: 1200px) {
  .client {
    grid-template-columns: repeat(1, 1ft);
  }

  .client-header {
    grid-column: span 1;
  }

  .client_picture {
    display: none;
  }

  .client_opinion {
    grid-column: span 1;
  }
}

blockquote {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 16px 16px 30px 16px;
  padding: 16px 24px;
  position: relative;
  font-size: 16px;
  background: #efefef;
  color: #000;
  font-style: italic;
}

blockquote::before {
  border: 14px solid transparent;
  border-top: 14px solid #efefef;
  border-bottom: 0;
  height: 0;
  width: 0;
  border-top-width: 25px;
  content: '';
  display: block;
  position: absolute;
  left: 40px;
  bottom: -25px;
  transform-origin: center;
  transform: rotate(90deg) skew(-25deg) translateY(17px);
}

blockquote cite {
  position: absolute;
  bottom: -24px;
  left: 62px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  color: white;
}

/*footer*/
.contact {
  display: grid;
  grid-template-columns: repeat(3, 1ft);
  text-align: center;
}

.contact-header {
  grid-column: span 3;
}

.contact section {
  line-height: 50px;
}

.contact-social i {
  font-size: 45px;
  padding: 20px;
  color: black;
}

.contact-mail input,
form textarea {
  width: 100%;
  border: 1px solid #ccc;
}
.form input, .form textarea{
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
}
@media screen and (max-width: 1000px) {
  .contact {
    grid-template-columns: repeat(1, 1ft);
    line-height: none;
  }
   .contact-header{
    grid-column: span 1;
  }
  .contact-mail{
    width: 50%;
    justify-self: center;
  }
  .contact-social i {
    font-size: 25px;
    padding: 5px;
  }
  .contact section {
    line-height: 20px;
  }
  form .button{
    height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .map {
    height: 50vh;
    width: 100%;
  }
}