* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.navigation-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 10;
  background-color: rgb(64, 77, 73);
  padding: 0 20px;
  margin: 0;
}

.navigation-menu p {
  text-transform: capitalize;
  color: white;
  letter-spacing: 5px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: rgb(233, 220, 103);
  font-weight: 600;
  text-transform: uppercase;
}

.burger {
  display: none;
}

.burger div {
  margin: 5px;
  width: 25px;
  height: 2px;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 1120px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    padding-left: 10px;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: rgb(64, 77, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    z-index: 1;
  }

  .nav-links li {
    opacity: 0;
    position: relative;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px)
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Header */

.header {
  position: relative;
  margin: 0;
  width: 100%;
  height: 70vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.header button {
  color: rgb(64, 77, 73);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(233, 220, 103, 0.591);
  height: auto;
  width: auto;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header button:hover {
  color: rgb(233, 220, 103);
  background-color: rgba(64, 77, 73, 0.515);
  transition: 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .header {
    background-size: contain;
  }
}

/* O nas */
.about p {
  margin: 35px;
  text-align: justify;
}

h3 {
  text-align: center;
}

.services {
  background-color: rgb(64, 77, 73);
  color: white;
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: center;
  grid-auto-columns: 16.6%;
  grid-template-areas:
    "heading heading heading heading heading heading"
    "name1   name2   name3   name4   name5   name6"
    "icon1   icon2   icon3   icon4   icon5   icon6"
    "img1 . img2 img2 . img3";
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.services img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.services p{
  margin: 0;
  padding: 20px;
  text-align: center;
}
.services i{
  padding: 10px;
  text-align: center;
}
.services__heading {
  grid-area: heading;
}
.service__name1{
  grid-area: name1;
}
.service__name2{
  grid-area: name2;
}
.service__name3{
  grid-area: name3;
}
.service__name4{
  grid-area: name4;
}
.service__name5{
  grid-area: name5;
}
.service__name6{
  grid-area: name6;
}
.icon1 {
  grid-area: icon1;
}
.icon2 {
  grid-area: icon2;
}
.icon3 {
  grid-area: icon3;
}
.icon4 {
  grid-area: icon4;
}
.icon5 {
  grid-area: icon5;
}
.icon6 {
  grid-area: icon6;
}
.service__img1 {
  grid-area: img1;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  padding: 20px;
}
.service__img2 {
  grid-area: img2;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}
.service__img3 {
  grid-area: img3;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;
  padding: 20px;
}

.property-1,
.property-2,
.property-3,
.property-4 {
  display: none;
}

.property-visible {
  display: block;
}

/* Clients container */

.client_picture {
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
}

.client_picture img {
  vertical-align: middle;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

@media only screen and (max-width: 500px) {
  .map {
    height: 50vh;
    width: 100%;
  }
}