@import "variables";

.footer {
  width: 100%;
  background-color: $color-green;
}

.footer__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.footer__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer__item {
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;

  &:last-child {
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $color-yellow;
      text-decoration-line: underline;
    }
  }
}

.languages-popup {
  margin: 0 auto;
  display: none;
  z-index: 3;
  flex-direction: row;
}
.language__button{
  text-align: center;
  background-color: $color-yellow;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  margin: 5px;
  padding: 10px;

}
.languages-popup a{
   text-decoration: none;
 }
 .language__button img{
   margin-left: 0 auto  ;
 }

#languages{
  background-color: $color-yellow;
  color: $color-green;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
