@import "variables";

.rooms {
  width: 100%;
}

.rooms__section {
  max-width: 1200px;
  padding: 30px 16px;
  margin: 0 auto;
  align-items: center;
}
.rooms__header{
margin: 0;
}
.rooms__selection {
  text-align: center;
  display: block;
  align-items: center;
  margin: 0 auto;
}
.more-button{
  margin: 0;
}
.more-button,
.rooms__selection-button {
  background-color: $color-yellow;
  color: $color-green;
  width: 250px;
  height: auto;
  margin: 10px;
  padding: 16px 0;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2)
}

.more-button {
  width: 100%;
  margin: 0;
  z-index: 1;
}

.room {
  display: none;
}

.room--visible {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.room__header {
  margin: 0;
  grid-column: span 2;
}

.room__description p{
  text-align: justify;
  margin: 0;
}

.rooms__description {
  grid-column: span 1;
}

.room__description-more {
  grid-column: span 2;
  text-align: left;
  margin: 0;
  display: none;
}

.room__description-more--visible {
  display: block;
}

.rooms .slideshow {
  justify-self: center;
  max-height: 500px;
}

@media only screen and (max-width: 1200px) {
  .rooms .slideshow {
    width: 300px;
    max-height: 300px;
  }

  .rooms__section {
    margin: 30px 0;
    padding: 0 16px;
  }
}

@media only screen and (max-width: 750px) {
  .room {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  .rooms__section {
    margin: 30px 0;
    padding: 0 16px;
  }

  .room__header {
    grid-column: span 1;
  }

  .room__description-more {
    grid-column: span 1;
  }

  .rooms .slideshow {
    width: 100%;
  }
}
