@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  text-align: center;
  background-color: #fafae6;
}

@media (max-width: $small-screen) {
  body {
    overflow-x: hidden;
  }
}

h3 {
  text-align: center;
}

/* Header */

.header {
  position: relative;
  margin: 0;
  width: 100%;
  height: 70vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.flag {
  display: block;
  height: 30px;
  width: 30px;
}

.header-button__languages button {
  background-color: transparent;
  border: none;
}

#submit {
  background-color: $color-yellow;
  color: $color-green;
  height: auto;
  width: auto;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: $color-yellow;
  height: auto;
  width: auto;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
}

.header-button a {
  text-decoration: none;
  color: black;
}

.header-button:hover {
  transition: 0.2s ease-in-out;
  color: black;
  font-size: 18px;
}

.header-button:focus {
  outline: none;
}

.language__selection-button a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* O nas */
.about {
  justify-content: center;
  background-color: $color-green;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about .heading {
  height: auto;
  max-width: 1200px;
  justify-content: center;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  justify-self: center;
  text-align: center;
  padding: 30px 16px;
  margin: 0 auto;
}

.heading .about__heading {
  grid-column: span 2;
  margin: 0;
}

.heading .about__item {
  text-align: justify;
  grid-column: span 1;
}

.about__item p {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .about .heading {
    margin: 0;
  }
}

@media screen and (max-width: 760px) {
  .about .heading {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    margin: 0;
  }

  .about .about__item {
    height: auto;
  }

  .about__heading {
    margin: 0;
  }
}

/* Clients container */
.client {
  width: 100%;
  padding: 30px 0;
  background-color: $color-green;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.client-container {
  max-width: 1200px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(3, 1ft);
  margin: 0 auto;
}

.client-header {
  grid-column: span 3;
  margin: 0;
}

.client_picture {
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 15px;
  justify-self: center;
}

.client_opinion {
  text-align: justify;
  margin: 0;
  padding: 0;
}

.client_picture img {
  grid-column: span;
  vertical-align: middle;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

blockquote {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 16px 30px;
  padding: 16px 24px;
  position: relative;
  font-size: 16px;
  background: #efefef;
  color: #000;
  font-style: italic;
  border-radius: 4px;
}

@media screen and (max-width: 1000px) {
  blockquote {
    margin: 16px 0;
  }
}

blockquote::before {
  border: 14px solid transparent;
  border-top: 14px solid #efefef;
  border-bottom: 0;
  height: 0;
  width: 0;
  border-top-width: 25px;
  content: "";
  display: block;
  position: absolute;
  left: 40px;
  bottom: -25px;
  transform-origin: center;
  transform: rotate(90deg) skew(-25deg) translateY(17px);
}

blockquote cite {
  position: absolute;
  bottom: -24px;
  left: 62px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  color: white;
}

/*rules*/

.rules {
  width: 100%;
  text-align: center;
}

.rules-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.rules-header{
margin: 0 auto;
}

.rules p {
  text-align: left;
}

.rules li {
  text-align: left;
  list-style-type: none;
}

.rules ul {
  margin: 0;
  padding: 0;
}

/*contact*/
.contact {
  width: 100%;
  margin: 0 auto;
}

.contact-container {
  max-width: 1200px;
  margin: 30px 0;
  padding: 0 16px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 0 auto;
}

.contact-header {
  grid-column: span 2;
  margin: 0;
}

.contact-mail {
  grid-column: span 1;
}

.contact-call {
  grid-column: span 1;
  margin: 0 auto;
}

.contact a {
  text-decoration: none;
  color: black;
}

.contact-social i {
  font-size: 45px;
  padding: 16px 35px;
  color: black;
  margin: 0;
}

.contact-social p {
  display: inline-flex;
}

.contact-container h3 {
  margin-top: 16px;
}

.contact-mail input,
form textarea {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 4px;
}

.form input,
.form textarea {
  padding: 10px;
  border: 1px black solid;
}

@media screen and (max-width: 1000px) {

  .contact-header {
    grid-column: span 2;
  }

  .contact-mail {
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
  }

  .contact_call {
    grid-column: span 2;
  }

  .contact-social i {
    font-size: 25px;
    padding: 5px;
  }

  form .button {
    height: 20px;
  }
}

@media (max-width: $small-screen) {
  .about .about__item {
    grid-column: span 2;
  }

  .about__img {
    grid-column: span 2;
  }

  .client {
    grid-template-columns: repeat(1, 1ft);
  }

  .client-header {
    grid-column: span 1;
  }

  .client_picture {
    display: none;
  }

  .client_opinion {
    grid-column: span 1;
  }
}
