<section class="about" id="about">
  <div class="heading">
  <h3 class="about__heading"><%=about_header%></h3>
  <article class="about__item"><%-about_description_1%></article>
  <article class="about__item"><%-about_description_2%></article>
</div>
</section>
