<section class="about" id="about">
  <h3 class="heading about__heading">
    <%=about_header%>
  </h3>
  <article class="about__item">
    <p class="about__item-text"><%=about_description_1%></p>
  </article>
  <article class="about__item">
    <p class="about__item-text"><%=about_description_2%></p>
  </article>
</section>
