<nav class="navigation-bottom" id="navbar">
  <div class="navigation__container">
    <ul class="navigation__items">
      <li class="navigation__item">
        <a href="#">↑ Top ↑</a>
      </li>
      <li class="navigation__item">
        <a href="#contact"><%=contact_nav%></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/en"><img title="English" src="/styles/icons/english.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/ru"><img title="Russian" src="/styles/icons/russian.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/no"><img title="Norwegian" src="/styles/icons/norwegian.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/pl"><img title="Polish" src="/styles/icons/poland.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/fn"><img title="Finnish" src="/styles/icons/finland.svg"></a>
      </li>
    </ul>
    <button class="navigation__burger">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</nav>
