<section class="client" id="opinions">
  <h3 class="client-header">
    <%=opinions_nav%>
  </h3>
  <blockquote>
    <p class="client_opinion">
      Thank you for warm welcome, we really enjoyed staying at your place. It
      was very clean, nicely decorated, confortable with all things you would
      need and most important in very good location. Thank you for hosting us!
    </p>
    <cite>
      Samanta, NY
    </cite>
  </blockquote>
  <blockquote>
    <p class="client_opinion">
      Pan Sergej to miły i konkretny właściciel. Mieszkanie bardzo czyściutkie
      i ładne. Dodatkowo w idealnej lokalizacji , na pewno jeszcze tam
      wrócimy :)
    </p>
    <cite>
      Agnieszka, Warszawa
    </cite>
  </blockquote>

  <blockquote>
    <p class="client_opinion">
      Wonderful place to stay. Good location, clean and very cozy apartment.
      Save and clean place for traveling with the children. They even have
      some toys. Also we were pleased to found some strawberries to eat on the
      table.</p>
    <cite>
      Jean, Marseille
    </cite>
  </blockquote>
  <div class="client_picture">
    <img src="/styles/img/clients/attractive-beautiful-casual-1082962.jpg">
  </div>
  <div class="client_picture">
    <img src="/styles/img/clients/beautiful-brunette-cute-774909.jpg">
  </div>
  <div class="client_picture">
    <img src="/styles/img/clients/boy-casual-eyes-1222271.jpg">
  </div>
</section>
