<footer class="footer">
  <nav class="footer__content">
    <ul class="footer__items">
      <li class="footer__item">
        <a href="#">↑ Top ↑</a>
      </li>
      <li class="footer__item">
        <a href="#contact"><%=contact_nav%></a>
      </li>
    </ul>
    <ul class="footer__items">
      <li class="footer__item">
        <a href="/en">
          <img class="flag" title="English" alt="English" src="/styles/icons/english.svg">
        </a>
      </li>
      <li class="footer__item">
        <a href="/ru">
          <img class="flag" title="Russian" alt="Russian" src="/styles/icons/russian.svg">
        </a>
      </li>
      <li class="footer__item">
        <a href="/no">
          <img class="flag" title="Norwegian" alt="Norwegian" src="/styles/icons/norwegian.svg">
        </a>
      </li>
      <li class="footer__item">
        <a href="/pl">
          <img class="flag" title="Polish" alt="Polish" src="/styles/icons/poland.svg">
        </a>
      </li>
      <li class="footer__item">
        <a href="/fn">
          <img class="flag" title="Finnish" alt="Finnish" src="/styles/icons/finland.svg">
        </a>
      </li>
    </ul>
  </nav>
</footer>
