<header class="header">
    <img class="headerSlides fade" src="/styles/img/hero-background.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/flowers_header-img.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/lawendowa_header.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/ogarna_header-img.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/szpichowa_header-img.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/roof_header-img.jpg" alt="">
  <section class="header__item">
    <button class="header-button">
      <a href="#contact"><%=book%></a>
    </button>
  </section>
</header>
