<header class="header">
  <div class="header-container">
    <img class="headerSlides fade" src="/styles/img/hero-background.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/flowers_header-img.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/lawendowa_header.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/ogarna_header-img.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/szpichowa_header-img.jpg" alt="">
    <img class="headerSlides fade" src="/styles/img/roof_header-img.jpg" alt="">
  </div>
  <section class="header__item">
    <button class="header-button">
      <a href="#contact"><%=book%></a>
    </button>
    <img class="header__emblem" src="/styles/img/Main_Main_coa.svg" alt=""></img>
  </section>
</header>
