<header class="header">
  <img src="/styles/css/img/hero-background.jpg" alt="">
  <section class="header__item">
    <button class="header-button">
      <a href="#contact"><%=book%></a>
    </button>
  </section>
</header>
